*{
    margin: 0;
    padding: 0;
}

.cabeçalho{
    display: flex;
    background-color: #2b3647;
    justify-content: space-around;
    padding: 24px 0;
}

.cabeçalho-imagem{
    width: 10%;
}

.cabeçalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
    color: white;
}

body{
    font-family: 'Ubuntu', sans-serif;
}

.escola-imagem{
    width: 23%;
    padding-left: 90px;
}

.escola{
    background-image: linear-gradient(#2b3647,#657C36) ;
    color: white;
    font-size: 24px;
    padding: 24px 0;
}

.escola-imagem-3{
    width: 28%;
    padding-left: 90px;
}

.estudante-imagem{
    width: 250px;
}

.estudante-icone{
    width: 80px;
}

.estudante-div{
    text-align: center;
}

.estudante-titulo{
    text-align: center;
    padding: 50px 0;
    background-color: #657C36 ;
}

.estudante-todos{
    display: grid;
    grid-template-columns: 50% 50%;
    background-image: linear-gradient(#657C36,#2b3647);
}

.estudante-imagem-2{
    width: 260px;
}

.rodape{
    background-color:#2b3647 ;
    text-align: center;
}

.rodape-imagem{
    height: 100px;
}