*{
    margin: 0;
    padding: 0;
}

.cabeçalho{
    display: flex;
    background-color: #2b3647;
    justify-content: space-around;
    padding: 24px 0;
}

.cabeçalho-imagem{
    width: 10%;
}

.cabeçalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
    color: #657C36;
}

.escola-imagem{
    width: 23%;
    padding-left: 90px;
}

.escola{
    background-image: linear-gradient(#2b3647,#657C36) ;
    color: white;
    font-size: 24px;
    padding: 24px 0;
}

.escola-imagem-3{
    width: 28%;
    padding-left: 90px;
}